[submodule "apps/ariane_plugin/com.arianesline.ariane.plugin.api"]
	path = apps/ariane_plugin/com.arianesline.ariane.plugin.api
	url = git@github.com:Ariane-s-Line/com.arianesline.ariane.plugin.api.git
[submodule "apps/ariane_plugin/com.arianesline.cavelib.api"]
	path = apps/ariane_plugin/com.arianesline.cavelib.api
	url = git@github.com:Ariane-s-Line/com.arianesline.cavelib.api.git
