[submodule "com.arianesline.ariane.plugin.api"]
	path = com.arianesline.ariane.plugin.api
	url = git@github.com:Ariane-s-Line/com.arianesline.ariane.plugin.api.git
[submodule "com.arianesline.cavelib.api"]
	path = com.arianesline.cavelib.api
	url = git@github.com:Ariane-s-Line/com.arianesline.cavelib.api.git
